.home {
  padding-bottom: 50px;
  padding-top: 100px;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    img {
      width: 400px;
    }
  }
}
